[submodule "confirmationbox"]
	path = confirmationbox
	url = https://github.com/amalvarghese593/confirmation-box
[submodule "sidemenu"]
	path = sidemenu
	url = https://github.com/amalvarghese593/sidemenu
[submodule "sidebar"]
	path = sidebar
	url = https://github.com/amalvarghese593/sidebar
[submodule "filter"]
	path = filter
	url = https://github.com/amalvarghese593/filter
[submodule "calendar"]
	path = calendar
	url = https://github.com/amalvarghese593/calendar
[submodule "switch-hui"]
	path = switch-hui
	url = https://github.com/amalvarghese593/switch-hui
[submodule "popover-headlessui-withonHover"]
	path = popover-headlessui-withonHover
	url = https://github.com/amalvarghese593/popover-headlessui-withonHover
[submodule "combobox"]
	path = combobox
	url = https://github.com/amalvarghese593/combobox-new
[submodule "tag-chip-input"]
	path = tag-chip-input
	url = https://github.com/amalvarghese593/tag-chip-input
[submodule "combobox-latest"]
	path = combobox-latest
	url = https://github.com/amalvarghese593/combobox-latest
[submodule "tags-chips-input"]
	path = tags-chips-input
	url = https://github.com/amalvarghese593/tag-chip-input
[submodule "tags-chip-input-latest"]
	path = tags-chip-input-latest
	url = https://github.com/amalvarghese593/tag-chip-input
