[submodule "confirmationbox"]
	path = confirmationbox
	url = https://github.com/amalvarghese593/confirmation-box
[submodule "sidemenu"]
	path = sidemenu
	url = https://github.com/amalvarghese593/sidemenu
[submodule "sidebar"]
	path = sidebar
	url = https://github.com/amalvarghese593/sidebar
[submodule "filter"]
	path = filter
	url = https://github.com/amalvarghese593/filter
[submodule "calendar"]
	path = calendar
	url = https://github.com/amalvarghese593/calendar
[submodule "switch-hui"]
	path = switch-hui
	url = https://github.com/amalvarghese593/switch-hui
[submodule "popover-headlessui-withonHover"]
	path = popover-headlessui-withonHover
	url = https://github.com/amalvarghese593/popover-headlessui-withonHover
[submodule "combobox"]
	path = combobox
	url = https://github.com/amalvarghese593/combobox-new
[submodule "combobox-latest"]
	path = combobox-latest
	url = https://github.com/amalvarghese593/combobox-latest
[submodule "editable-form"]
	path = editable-form
	url = https://github.com/amalvarghese593/editable-form
[submodule "timer-with-delay"]
	path = timer-with-delay
	url = https://github.com/amalvarghese593/timer-with-30-min-delay
[submodule "tag-chip-input-new"]
	path = tag-chip-input-new
	url = https://github.com/amalvarghese593/tag-chip-input
